/*Center the profpic*/
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*Makes pic round*/
.profPic{
    border-radius: 50%;
}
#portfolio {
    background-color: #41f4d9;
    padding-top: 2em;
    padding-bottom: 2em;
}
#first {
    background-image: url(../img/africa-arid-barren-255419.jpg);
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    padding-top: 15em;
}
#aboutText {
    padding: 5% 20% 0 20%;

}
.section {
    height: 100vh;
}
#about{
    height: auto;
}

/**************NAVBAR STYLE*********************/
/*Header pic*/
header {
    background-size: cover;
    text-align: center;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
.navbarBlue {
    background-color: #0072bc;
}
.navbarTrans {
    background-color: #1a1a1a3b;
}
.sticky{
    position: fixed !important;
    top: 0;
    width: 100%;
}
#navbar {
    z-index: 10;
}

/*************************************/

/*********************PRICEINFORMATION******************/
#priceInfo {
    padding-top: 5%;
    padding-bottom: 5%
}
.price-pic {
    height: 200px;
    border-radius: 15px 15px 0 0;
    width: 300px;
}
.price-card-header {
    /*background-image: url(../img/bro.jpg);
    background-position: center center;
    background-size: cover;*/
  
    border-radius: 15px 15px 0 0;
}
.price-card-body {
    background-color: #1f1f1f;
    border-radius: 0px 0px 15px 15px;
}
    .price-card-body p {
        color: #dcdcdc;
    }
.price-card-footer {
    background-color: #272626;
    border-radius: 0px 0px 15px 15px;
}
.price-card {
    margin: 2em 2em 2em 2em;
    width: 300px;
    border-radius: 15px 15px 15px 15px;
}
.contact-nav-btn {
    border-radius: 4px !important;
    margin-bottom: -4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*#photoShoot {
    background-image: url(../img/africa-arid-barren-255419.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
}
#video {
    background-image: url(../img/bro.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
}
#hire {
    background-image: url(../img/höst.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 6px;
}
#pricecoloum {
    height: 250px;
    background-color: #0000008a;
    border-radius: 0px 6px 6px 0px;
}*/
/********************************************************/
/*********************MINISLIDER***********************/
#miniSlider {
    height: 240px;
}
.item {
    height: 240px;
}
/*****************************************************/
/*-------------SLIDER--------------*/
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
#slide {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 15;
}

.slide1 {
    background: url(../img/höst.jpg) no-repeat center center fixed;
    /*
        http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-159465.jpg
        http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-160434.png
        http://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-150988.jpg
    */
}

.slide2 {
    background: url(../img/bro.jpg) no-repeat center center fixed;
}

.slide3 {
    background: url(../img/africa-arid-barren-255419.jpg) no-repeat center center fixed;
}
/*-----------END OF SLIDER-------------------*/

/***************Gallery**************************/
#gallery{
    padding-top: 5em;
}

/***************End of gallery*******************/




/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
    left: -12px;
}

    .carousel-control.right {
        right: -12px;
    }
/* Changes the position of the indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
    /* Changes the colour of the indicators */
    .carousel-indicators li {
        background: #c0c0c0;
    }

    .carousel-indicators .active {
        background: #333333;
    }


    /*************FOOTER*****************/
footer {
    background: #2b4c87;
    height: 200px;
}
#contact-info-list{
    padding-left: 6em;
}
/***********************************/
.wrapper {
    margin-top: 5em;
    padding: 2em 10em 5em 10em;
    background: #e0e0e0;
}
#contact{
    padding-bottom: 5em;
}
.textbox{
    margin-bottom: 2em;
}
.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem;
}