<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
<link href="~/css/timeline.css" rel="stylesheet" type="text/css" />
<div class="container">

    <!-- The Timeline -->
    <ul class="timeline">
        <!-- Item 1 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Student</span>
                    <span class="time-wrapper"><span class="time">2013 - 2016</span></span>
                </div>
                <div class="desc">Här tog jag studenten</div>
                <div><img id="profPic" class="timelin-pic-right" src="~/img/student.jpg" /></div>
            </div>
        </li>

        <!-- Item 2 -->
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Universtitet</span>
                    <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
                </div>
                <div class="desc">Började studera</div>
                <div><img id="profPic" class="timelin-pic-left" src="~/img/mittuniversitet.jpg" /></div>
            </div>
        </li>

        <!-- Item 3 -->
        <li>
            <div class="direction-r">
                <div class="flag-wrapper">
                    <span class="flag">Första jobb</span>
                    <span class="time-wrapper"><span class="time">2008 - 2011</span></span>
                </div>
                <div class="desc">första jobbet bla blbalbalbalbla</div>
                <div><img class="timelin-pic-right" src="~/img/securitas.png" /></div>
            </div>
        </li>
        <li>
            <div class="direction-l">
                <div class="flag-wrapper">
                    <span class="flag">Resan fortsätter</span>
                    <span class="time-wrapper"><span class="time">2011 - 2013</span></span>
                </div>
                <div class="desc">Min resa i livet fortsätter osv</div>
                <div><img id="profPic" class="timelin-pic-left" src="~/img/profilbild.jpg" /></div>
            </div>
        </li>
    </ul>
</div>

