<footer>
    <div class="row pt-3">
        <div class="col-4">
            <h2 class="text-white text-center">Referenser?</h2>

        </div>
        <div class="col-4">
            <h2 class="text-center text-white">Social media</h2>
            <div class="row" id="social-media-icons">
                @* **********Här ska sociala medie iconer finnas LÄNK: https://www.flaticon.com/free-icon/youtube_185983 ***********@
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light btn-social text-center rounded-circle">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h2 class="text-center text-white">Contact information</h2>
            <ul id="contact-info-list" class="text-white list-unstyled text-center">
                <li>Adress: Skjutsaregatan 5</li>
                <li>Email: Ashif.h.comp@gmail.com</li>
                <li>Phone: 0765524156</li>
            </ul>
        </div>
    </div>
    <div id="copyright">
        <p class="text-center text-white">Copyright 2019</p>
    </div>
</footer>