<div class="container mt-5">
    @*Ska skriva ut bilderna i en foreach loop*@
    
    <h1 class="text-center">Gallery</h1>
    <hr />
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <a class="">
                <img src="~/img/cake.png" />
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="~/img/cake.png" />
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="~/img/cake.png" />
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 col-lg-4">
            <a class="">
                <img src="~/img/cake.png" />
            </a>
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="~/img/cake.png" />
        </div>
        <div class="col-md-6 col-lg-4">
            <img src="~/img/cake.png" />
        </div>
    </div>
</div>
