<div>
    <div class="pt-2 pb-2">
        <img class="center profPic" src="/img/profilbild.jpg" />
    </div>
    <div>
        <h1 class="text-center mb-5 mt-5 text-white">Ashif Hossain</h1>
        <h2 class="text-center mt-2 text-white">Video redigerare - fotograf</h2>
    </div>
</div>
