<div class="container">
    <div id="photoShoot" class="price-card row text-white">
        <div id="infocoloumn" class="body col-8">
            <div class="p-3 text-center">
                <h3 class="text-white">Photo</h3>
                <p>information about this cathegory.</p>
            </div>
        </div>
        <div id="pricecoloum" class="col-4">
            <div class="text-center p-3">
                <p class="text-white-100">From</p>
                <h3 class="text-white">1000 sek</h3>
            </div>
        </div>
    </div>
    <div id="video" class="price-card row">
        <div id="infocoloumn" class="body col-8">
            <div class="p-3 text-center text-white">
                <h3 class="text-white">Photo</h3>
                <p class="text-white">information about this cathegory.</p>
            </div>
        </div>
        <div id="pricecoloum" class="col-4 text-white">
            <div class="text-center p-3">
                <p class="text-white">From</p>
                <h3 class="text-white">1000 kr</h3>
            </div>
        </div>
    </div>
    <div id="hire" class="price-card row">
        <div id="infocoloumn" class="body col-8">
            <div class="p-3 text-center">
                <h3 class="text-white">Photo</h3>
                <p class="text-white">information about this cathegory.</p>
            </div>
        </div>
        <div id="pricecoloum" class="col-4">
            <div class="text-center p-3">
                <p class="text-white">From</p>
                <h3 class="text-white">1000 kr</h3>
            </div>
        </div>
    </div>
</div>

@*<div class="row p-5">
        <div class="col-lg-4">
            <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Prices</div>
                <div class="card-body">
                    <h4 class="card-title">Photography</h4>
                    <p class="card-text">Shoot and editing price is per picture.</p>
                </div>
                <div class="card-footer"><h4 class="text-center">1000 SEK</h4></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Prices</div>
                <div class="card-body">
                    <h4 class="card-title">Video editing</h4>
                    <p class="card-text">Films and edit price will depend on video.</p>
                </div>
                <div class="card-footer"><h4 class="text-center">Start price 1000 SEK</h4></div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-success mb-3" style="max-width: 20rem;">
                <div class="card-header">Prices</div>
                <div class="card-body">
                    <h4 class="card-title">Hire for event</h4>
                    <p class="card-text">Hire for a day/event wedding etc, prices can be discussed.</p>
                </div>
                <div class="card-footer"><h4 class="text-center">1000 SEK</h4></div>
            </div>
        </div>
    </div>*@