
<div class="container">
    <div class="row">
        <div class="price-card">
            <div class="price-card-header">
               <img class="price-pic" src="~/img/bro.jpg"/> 
            </div>
            <div class="price-card-body">
                <p class="text-center">Fotografera!</p>
                <div class="price-card-footer p-3 text-center">
                    <p>Lorem ipsumf esifjsoe fseiojfisoe fjsoei fseoiifjseiofs </p>
                    <a href="#contact" class="btn btn-danger contact-nav-btn">Slå till!</a>
                </div>
            </div>
        </div>
        <div class="price-card">
            <div class="price-card-header">
                <img class="price-pic" src="~/img/apple-black-and-white-business-196659.jpg" />
            </div>
            <div class="price-card-body">
                <p class="text-center">Fotografera!</p>
                <div class="price-card-footer p-3 text-center">
                    <p>Lorem ipsumf esifjsoe fseiojfisoe fjsoei fseoiifjseiofs </p>
                    <a href="#contact" class="btn btn-danger contact-nav-btn">Slå till!</a>
                </div>
            </div>
        </div>
        <div class="price-card">
            <div class="price-card-header">
                <img class="price-pic" src="~/img/höst.jpg" />
            </div>
            <div class="price-card-body">
                <p class="text-center">Fotografera!</p>
                <div class="price-card-footer p-3 text-center">
                    <p>Lorem ipsumf esifjsoe fseiojfisoe fjsoei fseoiifjseiofs </p>
                    <a href="#contact" class="btn btn-danger contact-nav-btn">Slå till!</a>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="container">
    <div>
        <div id="hover" class="priceCategory">
            <h3 class="priceCategory text-white">Photo</h3>
        </div>
        <div id="photoShoot" class="price-card row text-white">
            <div id="infocoloumn" class="body col-8">
                <div class="p-3 text-center">
                    <p>information about this cathegory.</p>
                </div>
            </div>
            <div id="pricecoloum" class="col-4">
                <div class="text-center p-3">
                    <p class="text-white-100">From</p>
                    <h3 class="text-white">1000 sek</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div id="video" class="price-card row">
        <div id="infocoloumn" class="body col-8">
            <div class="p-3 text-center text-white">
                <h3 class="text-white">Photo</h3>
                <p class="text-white">information about this cathegory.</p>
            </div>
        </div>
        <div id="pricecoloum" class="col-4 text-white">
            <div class="text-center p-3">
                <p class="text-white">From</p>
                <h3 class="text-white">1000 kr</h3>
            </div>
        </div>
    </div>
    <div id="hire" class="price-card row">
        <div id="infocoloumn" class="body col-8">
            <div class="p-3 text-center">
                <h3 class="text-white">Photo</h3>
                <p class="text-white">information about this cathegory.</p>
            </div>
        </div>
        <div id="pricecoloum" class="col-4">
            <div class="text-center p-3">
                <p class="text-white">From</p>
                <h3 class="text-white">1000 kr</h3>
            </div>
        </div>
    </div>
</div>*@

